@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
  #map {
    height: 200px; /* Adjust height for smaller screens */
  }
}
/* ghost element before body to push the page down and give space */
body::before {
  display: block;
  content: "";
  height: 100px;
}
