@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
  #map {
    height: 200px; /* Adjust height for smaller screens */
  }
}
/* ghost element before body to push the page down and give space */
body::before {
  display: block;
  content: "";
  height: 100px;
}
.custom-link {
  color: black;
  transition: color 0.3s ease; /* Smooth transition for hover */
}
.custom-link:hover {
  color: #007bff;
}
.card-height {
  min-height: 350px; /* Adjust the minimum height as needed */
}

.modal-dialog {
  max-width: 90vw; /* Ensures modal takes only 90% of the viewport width */
}

.modal-body {
  overflow-x: auto; /* Allows horizontal scrolling if the content overflows */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.moreBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #2196F3;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.moreBtn:hover {
  background-color: #1976D2;
}
.icon-info {
  cursor: pointer;
  color: #2196F3;
}
.icon-info:hover::after {
  content: 'More information about this feature';
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  font-size: 0.9rem;
}
.moreBtn:hover {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

#testimonialBox {
  background-color: #007bff; /* Blue background */
  padding: 2rem; /* Padding inside the box */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

.carousel-inner p {
  font-size: 1.25rem; /* Slightly larger font size */
  color: #ffffff; /* White text to contrast with the blue background */
  margin-bottom: 0; 
}





